<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO DO LIST</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container" style="width: 50%; background-color:rgb(221, 238, 248);margin-top: 1pc;padding: 3pc;border-radius: 5px;">
        <a href="/logout">Logout</a>
        <div class="p-2">
            <div class="mb-3">
                <% if(typeof name!=='undefined') {%>
                <center><h3 style="margin-bottom: 1pc;"><%= name %>'s TODO List</h3></center>
                <% } %>
                <form action="/addtodo" method="post">
                    <div class="d-flex justify-content-center">
                        <div class="p-2"><input type="text" class="form-control" name="content" style="width: 25pc;" id="content"></div>
                        <div class="p-2"><input type="hidden" class="form-control" name="todo_id" style="width: 25pc;" value="" id="id"></div>
                        <div class="p-2"><button class="btn btn-primary" type="submit" style="width: 8pc;">Save</button></div>
                    </div>
                </form>
              </div>
        </div>
        <% if(typeof result!=='undefined') {%>
        <% for(var i=0;i < result.length;i++){  var stat;%>
        <div class="p-2" id= "<%= result[i].task_id %>">
               <span>
                <div class="d-flex flex-row  entry">
                    <div class="p-2 tasks"  style="background-color:rgb(196, 216, 228);width: 70%;padding: .6pc;border-radius: 5px;overflow: hidden;">
                   <% if (result[i].status === "pending"){ stat = 'accomplished';%>
                         <label ><%= result[i].content %></label>
                    <% }else{ stat = 'pending';%>
                        <label style="text-decoration: line-through;"><%= result[i].content %></label>
                   <% }%>
                    </div>
                    <div class="p-2"><button class="btn btn-success edit">Edit</button></div>
                    <div class="p-2"><form action="/deletetodo" method="post"><input type="hidden" name="id" value="<%= result[i].todo_id %>"><button type="submit" class="btn btn-danger">Delete</button></form></div>
                    <div class="p-2"><form action="/stattodo" method="post"><input type="hidden" name="id" value="<%= result[i].todo_id %>"><input type="hidden" name="stat" value="<%= stat %>"><button type="submit" style="visibility: hidden;"></button></form></div>
                </div>
            </span>
        </div>
        <%} %>
        <% } %>
    </div>
    <script>
       var task = document.getElementsByClassName("tasks");
       var i;
        for (i = 0; i < task.length; i++) {
        task[i].onclick = function() {
            var sibling = this.nextElementSibling.nextElementSibling.nextElementSibling;
            var child = this.children;
            var childstyle = window.getComputedStyle(child[0], null).getPropertyValue("text-decoration");
            if(childstyle === "none solid rgb(33, 37, 41)"){
                child[0].style.textDecoration = "line-through";
            
            }else{
                child[0].style.textDecoration = "none";
            }
            var sibchild = sibling.children;
            sibchild[0].submit();
        }
    }


    var edit = document.getElementsByClassName("edit");
       var i;
        for (i = 0; i < edit.length; i++) {
            edit[i].onclick = function() {
                var parent = this.parentElement;
                var sibling = parent.previousElementSibling;
                var nextsibling = parent.nextElementSibling;
                var texttodo = sibling.children;
                var nextchild = nextsibling.children;
                var textid = nextchild[0].children;
                document.getElementById("content").value = texttodo[0].textContent;
                document.getElementById("id").value = textid[0].value;
            }
    }
  
    </script>
</body>
</html>